{% extends 'base.html' %}
{% block title %}All Courses{% endblock %}
{% block content %}
<h2>All Courses</h2>
<div class="row g-3">
  {% for c in courses %}
  <div class="col-md-6">
    <div class="list-group">
      <a href="{{ url_for('course_detail',id=c.id) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        {{ c.title }}
        <span class="badge bg-secondary">Start</span>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
